<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Sample App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home.h1"), root_path %></li>
        <li><%= link_to t("help.h1"), help_path %></li>
        <li><%= link_to t("login.h1"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
